body {
  background-color:#d6d4e0;
  text-align: center;
  font-family: verdana;
}

h1 {
  color: #622569;
}

h2 {
  color: #8a81da;
  font-size: 30px;
  font-family: garamond;
}

form {
  font-family: georgia;
  color: #8A81DA;
}

.land {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  background-color: #F8F9F9;
}

input {
  border-width: 3px;
  padding: 6px;
  padding-right: 20px;
  padding-left: 20px;
  color: #633974;
  font-size: 15px;
  border-color: #D98880 ;
  background-color: #f9d5e5;
}

ol {
  font-family: garamond;
  font-size: 22px;
  color: #5b9aa0;
  list-style-position: inside;

}

.title {
    padding: 8px;
    border-width: 2px;
    border-style: solid;
    background-color: #F8F9F9;
    color: black;
    font-size: 15px;
    font-family: courier, monospace;
    border-color: #8FBEDE;
}
    
span {
  color: #7D3C98;
  font-family: courier, monospace;
}

textarea {
  padding: 15px;
  border-width: 3px;
  border-style: solid;
  border-color: #A9CCE3;
  font-family: Courier, monospace;
  background-color: #F8F9F9;
  }

p {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  font-family: Courier, monospace;
  color: #622569;
}
