{% extends "base.html" %}
{% block header %}
  {% block title %}
    <title> Home Page </title>
  {% endblock %}
{% endblock %}
{% block content %}
  Welcome {{ user }} !
  <form action = "/logout">
    <input type = "submit" name = "sub3" value = "logout"> <br>
  </form>
  <br><br>
  <h1>STORIES</h1><br>
  {% for element in storyName %}
    {{element}}
  {% endfor %}
  <br><br><br>
  <form action = "/create">
    <input type = "submit" name = "makenew" value = "Create new story">
  </form>
{% endblock %}
{% block footer %}
{% endblock %}
