{% extends "base.html" %}
{% block header %}
  {% block title %}
    <title> Home Page </title>
  {% endblock %}
{% endblock %}
{% block content %}
  Welcome {{ user }} !
  <h1><ol>STORIES</ol></h1>
  {% for element in storyName %}
    <li> {{element}} </li>
  {% endfor %}
  <br>
  <form action = "/create">
    <input type = "submit" name = "makenew" value = "Create new story">
  </form>
  <form action = "/logout">
    <input type = "submit" name = "sub3" value = "logout">
  </form>
{% endblock %}
{% block footer %}
{% endblock %}
