{% extends "base.html" %}
{% block header %}
  {% block title %}
    <title> Home Page </title>
  {% endblock %}
{% endblock %}
{% block content %}
  Welcome {{ user }} !
  <h1>STORIES</h1>
  <ol>
  {% for element in storyName %}
    <li>
      <a href="read/{{element}}">{{element}}</a>
    </li>
  {% endfor %}
  </ol>
  <h1>EDIT STORIES</h1>
  <ol>
  {% for element in storyEdit %}
    <li>
      <a href="edit/{{element}}">{{element}}</a>
    </li>
  {% endfor %}
  </ol>
  <br>
  <form action = "/create">
    <input type = "submit" name = "makenew" value = "Create new story">
  </form>
  <form action = "/logout">
    <input type = "submit" name = "sub3" value = "logout">
  </form>
{% endblock %}
{% block footer %}
{% endblock %}
