{% extends "base.html" %}
{% block header %}
  {% block title %}
    <title> New Story </title>
  {% endblock %}
{% endblock %}
{% block content %}
  <form action = "/newcheck", method = "GET">
    Title of story:
    <input type = "text" name = "title"> <br>
    Story beginning:
    <input type = "text" name = "story"> <br>
    <input type = "submit" name = "submit" value = "Submit">
  </form>
  <br><br>
  <form action = "/", method = "GET">
    <input type = "submit" name = "cancel" value = "Cancel">
  </form>
{% endblock %}
{% block footer %}
{% endblock %}
