{% extends "base.html" %}
{% block header %}
  {% block title %}
    <title> New Story </title>
  {% endblock %}
{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% if messages %}
        <h1> {{ messages[0] }} </h1>
      {% endif %}
    {% endif %}
  {% endwith %}
  <form action = "/add", method = "POST">
    Title of story:
    <input type = "text" name = "title"> <br>
    Story beginning:
    <input type = "text" name = "story"> <br>
    <input type = "submit" name = "submit" value = "Submit">
  </form>
  <br><br>
  <form action = "/", method = "POST">
    <input type = "submit" name = "cancel" value = "Cancel">
  </form>
{% endblock %}
{% block footer %}
{% endblock %}
